# Loops
- while loop
- Nested while
- For loop
- Nested For

In [1]:
#while loop
i = 1 #initializing
while i <= 5: # condition
    print("Data science")
    i = i + 1 #increment

Data science
Data science
Data science
Data science
Data science

In [2]:
i = 1
while i <= 5:
    print("Data science",i)
    i = i + 1

Data science 1
Data science 2
Data science 3
Data science 4
Data science 5

In [3]:
i = 5
while i >= 1:
    print("Data science:", i)
    i = i - 1 #Decrement

Data science: 5
Data science: 4
Data science: 3
Data science: 2
Data science: 1

In [4]:
i = 1
while i <= 5:
    print("Data science")
    j = 1
    while j <= 4:
        print("technology")
        j = j + 1
    i = i + 1    
    print()

Data science
technology
technology
technology
technology

Data science
technology
technology
technology
technology

Data science
technology
technology
technology
technology

Data science
technology
technology
technology
technology

Data science
technology
technology
technology
technology

In [5]:
#Nested while loop
i = 1
while i <= 5:
    print("Data science", end = " ") # when we mention end then new line will not create
    j = j + 1
    while j <= 4:
        print("Technology", end = " ")
        j = j + 1
    i = i + 1
    print()

Data science
Data science
Data science
Data science
Data science

In [6]:
i = 1
while i <=2 :
    j = 0
    while j <= 2:
        print(i * j, end=" ")
        j = j + 1
    print()
    i += 1

0 1 2
0 2 4

In [7]:
i = 1
while i <= 4:
    j = 0
    while j <= 3:
        print(i * j, end = " ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [8]:
#For Loop
name = 'john'
for i in name:
    print(i)

j
o
h
n

In [9]:
name1 = [1,3.5,'hello']
for i in name1:
    print(i)

1
3.5
hello

In [11]:
for i in [2,3,7.8,'hi']:
    print(i)

2
3
7.8
hi

In [12]:
for i in range(2,5):
    print(i)

2
3
4

In [13]:
#print the value which is divisible by 5

for i in range(1,51):
    if i % 5 == 0:
        print(i)

5
10
15
20
25
30
35
40
45
50

In [14]:
#print the value which is not divisible by 5
for i in range(1,51):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

## Let discuss about 3 keywords
- Break statement -> if we apply in a loop it will end the loop
- Continue -> skips 1 step / iteration during loop
- Pass -> jumps out thr function / loop

In [15]:
#I don't want number after 6 but i need to pass number 1 to 11
for i in range(1,11):
    if i == 6:
        break
    print(i)

1
2
3
4
5

In [16]:
for i in range(1,11):
    if i == 6:
        continue
    print(i)

1
2
3
4
5
7
8
9
10

In [17]:
for i in range(1,11):
    if i == 6:
        continue
    print("Hello: ", i)

Hello:  1
Hello:  2
Hello:  3
Hello:  4
Hello:  5
Hello:  7
Hello:  8
Hello:  9
Hello:  10

In [18]:
for i in range(1,11):

SyntaxError: unexpected EOF while parsing (<ipython-input-18-43b42b362104>, line 1)

In [19]:
#no output will print and no error will produce
for i in range(1,11):
    pass

In [21]:
#write a program from 1 to 50 but dont print the number which is not divisible by 3 or 5
for i in range(1,51):
    if i % 3 == 0:
        continue
    print(i)
    print('end')

1
end
2
end
4
end
5
end
7
end
8
end
10
end
11
end
13
end
14
end
16
end
17
end
19
end
20
end
22
end
23
end
25
end
26
end
28
end
29
end
31
end
32
end
34
end
35
end
37
end
38
end
40
end
41
end
43
end
44
end
46
end
47
end
49
end
50
end

In [24]:
for i in range(1,51):
    if i % 3 == 0 and i % 5 == 0:
        continue
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20
21
22
23
24
25
26
27
28
29
31
32
33
34
35
36
37
38
39
40
41
42
43
44
46
47
48
49
50

In [25]:
for i in range(1,51):
    if i % 3 == 0 or i % 5 == 0:
        continue
    print(i)

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [26]:
#Dont print the values which are even numbers that means print only odd numbers
for i in range(1,51):
    if(i % 2 == 0):
        continue
    else:
        print(i)
print('bye')

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
bye

- print the patterns

In [27]:
for i in range(1,5):
    i = i + 1
    print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [28]:
for i in range(1,5):
    if i <= 5:
        print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [29]:
for j in range(4):
    print('#')

#
#
#
#

In [30]:
for j in range(4):
    print('#')
for j in range(4):
    print('#')

#
#
#
#
#
#
#
#

In [31]:
for j in range(4):
    print('#',end=" ")
for j in range(4):
    print('#',end=" ")

# # # # # # # #

In [32]:
for j in range(4):
    print('#',end= " ")
print()
for j in range(4):
    print('#',end=" ")

# # # #
# # # #

In [33]:
for j in range(4):
    print('#')
for j in range(4):
    print('#')

#
#
#
#
#
#
#
#

In [34]:
for j in range(4):
    print('#')
print()
for j in range(4):
    print('#')

#
#
#
#

#
#
#
#

In [35]:
for i in range(4):
    for j in range(i + 1):
        print('#',end = " ")
    print()

#
# #
# # #
# # # #

In [36]:
for i in range(1,5):
    print("#"*i)

#
##
###
####

In [38]:
for i in range(1,5):
    for j in range(4):
        if i > j:
            print("#",end = " ")
    print()

#
# #
# # #
# # # #

In [39]:
list(range(5))

[0, 1, 2, 3, 4]

In [40]:
for i in range(4):
    for j in range(i):
        print("#", end = " ")
    print()

#
# #
# # #

In [41]:
for i in range(4):
    for j in range(4 - i):
        print('#',end=" ")
    print()

# # # #
# # #
# #
#

In [43]:
for i in range(1,5):
    print("#"*(5-i))

####
###
##
#

- for else

In [44]:
nums = [12,15,18,21,26]
for num in nums:
    if num % 5 == 0:
        print(num)

15

In [45]:
nums = [12,14,18,21,25,30,35]

for num in nums:
    if num % 5 == 0:
        print(num)

25
30
35

In [46]:
nums = [12,14,18,21,20,25]
for num in nums:
    if num % 5 == 0:
        print(num)
        break

20

In [47]:
nums = [7,14,18,21,23,27]
for num in nums:
    if num % 5 == 0:
        print(num)
        break
    else:
        print("Number not found")

Number not found
Number not found
Number not found
Number not found
Number not found
Number not found

In [48]:
nums = [7,14,18,21,23,27]
for num in nums:
    if num % 5 == 0:
        print(num)
        break
    else:
        print("Number not found")

Number not found
Number not found
Number not found
Number not found
Number not found
Number not found

In [49]:
nums = [10,14,18,21,20,27]

for num in nums:
    if num % 5 == 0:
        print(num)
else:
    print("Not found")

10
20
Not found

In [51]:
#check prime number or not
num = 12
for i in range(2,num):
    if num % i == 0:
        print("Not a prime number")
        break
else:
    print("Prime number")

Not a prime number