# operators

1. Arithmetic operators -> +, -, *, /, //, %, **
2. Assignment operators -> +=, -=, *=, /=, //=
3. Relational operators -> >, <, >=, <=, !=, ==
4. Logical operators    -> and, or, not
5. Unary operator       -> - (negation)

# Arithmtic operators

In [1]:
x1, y1 = 10, 5

In [2]:
x1 + y1

15

In [3]:
x1 - y1

5

In [4]:
x1 * y1

50

In [5]:
x1 / y1

2.0

In [6]:
x1 // y1

2

In [7]:
x1 % y1

0

In [8]:
x1 ** y1 #power

100000

In [9]:
x2 = 3
y2 = 2
x2 ** y2

9

# Assignment operator

In [30]:
x = 2

In [31]:
x = x + 2 # increment by 2
x

4

In [32]:
x += 2
x

6

In [33]:
x -= 2
x

4

In [34]:
x *= 2
x

8

In [35]:
x /= 2
x

4.0

In [36]:
x //= 2
x

2.0

In [38]:
a, b = 5, 6 # assigned variable in one line as well

In [39]:
a

5

In [40]:
b

6

# unary operator

1. unary means 1 
2. Here we are applying minus operator(-) on the operand n;
   the value of m becomes -7, which indicates it as a negative value.

In [41]:
n = 7
n

7

In [42]:
m = -(n) #negation
m

-7

In [43]:
n

7

In [44]:
-n

-7

# Realational operator

In [45]:
a = 5
b = 6

In [46]:
a < b

True

In [47]:
a > b

False

In [48]:
a == b

False

In [49]:
a != b

True

In [50]:
#here if we change b value
b = 5

In [51]:
a == b

True

In [52]:
a >= b

True

In [53]:
a <= b

True

In [54]:
a < b

False

In [55]:
a > b

False

In [56]:
a != b

False

# Logical operator

logical operator 
1. And
2. or
3. Not

Truth table of And
===============

0 -> False
1 -> True
x | y | c|
0 | 0 | 0|
0 | 1 | 0|
1 | 0 | 0|
1 | 1 | 1|

Truth table of Or
==============

x | y | c|
0 | 0 | 0|
0 | 1 | 1|
1 | 0 | 1|
1 | 1 | 1|

In [66]:
a = 5
b = 4

In [59]:
a < 8 and b < 5

True

In [60]:
a < 8 or b < 2

True

In [61]:
a < 8 or b < 2

True

In [69]:
a > 8 or b < 2

False

In [63]:
x = False
x

False

In [64]:
not x

True