# Data Structure

1. list
2. tuple
3. set
4. dict

In [9]:
a = 5 # data type
type(a)

int

# list

-> list is defined as '[]'
-> append() function is allowed
-> duplicate is allowed
-> multiple datatype is allowed in list
-> copy() is allowed
-> list inside list is called nested list

* list Methods:*

1. append() -> add the element (or) value at the end of the list
-> only one argument user can pass

2. copy() -> copy from one list to another list

3. remove() -> remove 1st element

4. reverse() -> reverse the element

5. count() -> return the number of occurence of values

6. index() -> return first index of value

7. pop() -> pop the element or value by index ( by default is at last it will remove)
   pop(1) -> 1st index value will eliminated
   
8. remove() -> remove value from the list

9. del -> delete the entire list

10. clear() -> clear the element from the list

11. insert() -> insert the value before the index

12. sort() -> sort the list ascending order
    sort(reverse = True) -> sort the list in descending order

In [10]:
l = [] # empty list
l

[]

In [11]:
len()

TypeError: len() takes exactly one argument (0 given)

In [12]:
len(l)

0

# 1. append()

In [13]:
l.append

In [14]:
l.append()

TypeError: append() takes exactly one argument (0 given)

In [15]:
l.append(10)
l

[10]

In [137]:
len(l)

1

In [138]:
l.append(10,20,30,40)

TypeError: append() takes exactly one argument (4 given)

In [139]:
l.append(10)
l.append(20)
l.append(30)
l.append(40)
l

[10, 10, 20, 30, 40]

In [140]:
l1 = []

In [141]:
l1.append(70)
l1.append(2.3)
l1.append(True)
l1.append('1+2j')
l1.append([1,2,3])

In [142]:
l1

[70, 2.3, True, '1+2j', [1, 2, 3]]

In [143]:
print(l)
print(l1)

[10, 10, 20, 30, 40]
[70, 2.3, True, '1+2j', [1, 2, 3]]

In [144]:
print(id(l))
print(id(l1))

2053759478976
2053759719168

In [145]:
print(len(l))
print(len(l1))

5
5

In [146]:
l1

[70, 2.3, True, '1+2j', [1, 2, 3]]

# 2. copy()

In [147]:
l2 = l1.copy()
l2

[70, 2.3, True, '1+2j', [1, 2, 3]]

In [148]:
l1 == l2

True

In [149]:
l

[10, 10, 20, 30, 40]

In [150]:
l == l2

False

In [151]:
print(l1)
print(l2)

[70, 2.3, True, '1+2j', [1, 2, 3]]
[70, 2.3, True, '1+2j', [1, 2, 3]]

In [152]:
print(len(l1))
print(len(l2))

5
5

In [153]:
print(id(l1)) == print(id(l2))

2053759719168
2053759249536

True

# 3. remove()

In [154]:
l

[10, 10, 20, 30, 40]

In [155]:
l.remove() #Remove first occurrence of value.

TypeError: remove() takes exactly one argument (0 given)

In [156]:
l.remove(10)

# 4. reverse()

In [157]:
l

[10, 20, 30, 40]

In [158]:
l3 = l.reverse()

In [159]:
l3

In [160]:
l

[40, 30, 20, 10]

In [161]:
l

[40, 30, 20, 10]

In [162]:
l1

[70, 2.3, True, '1+2j', [1, 2, 3]]

In [163]:
l2

[70, 2.3, True, '1+2j', [1, 2, 3]]

# 5. count

In [164]:
l2.count(True)

1

In [165]:
l2.append(70)

In [166]:
l2

[70, 2.3, True, '1+2j', [1, 2, 3], 70]

In [167]:
l2.count(70)

2

In [168]:
l2[:]

[70, 2.3, True, '1+2j', [1, 2, 3], 70]

In [169]:
l2[:5]

[70, 2.3, True, '1+2j', [1, 2, 3]]

In [170]:
l

[40, 30, 20, 10]

In [171]:
l[2:]

[20, 10]

In [172]:
l[:-1]

[40, 30, 20]

In [173]:
l[::-1] #reverse

[10, 20, 30, 40]

In [174]:
l[::-2]

[10, 30]

# 6. index

In [175]:
l

[40, 30, 20, 10]

In [176]:
l.index(40)

0

In [177]:
l.index(20)

2

In [178]:
l2

[70, 2.3, True, '1+2j', [1, 2, 3], 70]

In [179]:
id(l2)

2053759249536

In [180]:
len(l2)

6

# 7. clear

In [181]:
l2.clear()

In [182]:
l2

[]

# 8. del

In [183]:
del l2

In [184]:
l2

NameError: name 'l2' is not defined

In [185]:
l1

[70, 2.3, True, '1+2j', [1, 2, 3]]

# 9. pop

In [186]:
l1.pop()

[1, 2, 3]

In [187]:
l1

[70, 2.3, True, '1+2j']

In [188]:
l2 = l.copy()

In [189]:
l2

[40, 30, 20, 10]

In [190]:
l2.pop(30)

IndexError: pop index out of range

In [191]:
l2.pop(1)

30

In [192]:
l2

[40, 20, 10]

In [193]:
l2.pop(-1)

10

In [194]:
l2

[40, 20]

# 10. insert

In [195]:
l2.insert(2,25)

In [196]:
l2

[40, 20, 25]

In [197]:
l

[40, 30, 20, 10]

In [198]:
l[0]

40

In [199]:
l[0] = 400 # list is mutable(changeable)
l

[400, 30, 20, 10]

# 11. extend

In [200]:
l1

[70, 2.3, True, '1+2j']

In [201]:
l2

[40, 20, 25]

In [202]:
l2.extend(l1)
l2

[40, 20, 25, 70, 2.3, True, '1+2j']

In [203]:
len(l2)

7

In [204]:
for i in l2:
    print(i)

40
20
25
70
2.3
True
1+2j

In [205]:
for i in enumerate(l2):
    print(i)

(0, 40)
(1, 20)
(2, 25)
(3, 70)
(4, 2.3)
(5, True)
(6, '1+2j')

# 12. sort()

In [206]:
l

[400, 30, 20, 10]

In [207]:
l.sort() #Sort the list in ascending order and return None.

In [208]:
l

[10, 20, 30, 400]

In [209]:
l.sort(reverse = True) #sort the list in descending order
l

[400, 30, 20, 10]

In [211]:
l5 = ['z','a','m']
l5.sort()
l5

['a', 'm', 'z']

In [212]:
l5.sort(reverse = False) #sort the list in ascending order.
l5

['a', 'm', 'z']

In [213]:
l5.sort(reverse = True) #sort the list in descending order.
l5

['z', 'm', 'a']

In [214]:
l2

[40, 20, 25, 70, 2.3, True, '1+2j']

In [215]:
l2.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [216]:
l6 = l5.copy()

In [217]:
l6

['z', 'm', 'a']

In [220]:
del l6
l6

NameError: name 'l6' is not defined

In [221]:
l6 = ['z','m','a',1,21,5]
l6

['z', 'm', 'a', 1, 21, 5]

In [222]:
l6.sort(reverse = True)

TypeError: '<' not supported between instances of 'str' and 'int'

# Tuple
1. it denotes with ()
2. duplicate is allow
3. tuple is immutable (unhashable)
4. multiple datatype is allowed
5. indexing & slicing is allowed

***tuple methods***
1. count()
2. index

In [223]:
t = ()
t

()

In [224]:
type(t)

tuple

In [225]:
a1 = 7
type(a1)

int

In [226]:
t1 = 3,4,5,6,7
t1

(3, 4, 5, 6, 7)

In [227]:
type(t1)

tuple

In [228]:
t2 = (10,20,30)
t2

(10, 20, 30)

In [229]:
t.count()

TypeError: count() takes exactly one argument (0 given)

In [230]:
t1

(3, 4, 5, 6, 7)

In [231]:
t1.count()

TypeError: count() takes exactly one argument (0 given)

In [232]:
t1.count(5)

1

In [233]:
t.append(19)

AttributeError: 'tuple' object has no attribute 'append'

In [234]:
t1

(3, 4, 5, 6, 7)

In [235]:
t1[0]

3

In [236]:
t1[0] = 35

TypeError: 'tuple' object does not support item assignment

In [238]:
icici = (234,'cizp456', 4567)
icici

(234, 'cizp456', 4567)

In [239]:
icici[0] = 456

TypeError: 'tuple' object does not support item assignment

In [240]:
t1

(3, 4, 5, 6, 7)

In [241]:
t1 * 3

(3, 4, 5, 6, 7, 3, 4, 5, 6, 7, 3, 4, 5, 6, 7)

In [242]:
t1.index(4)

1

In [243]:
t1[:]

(3, 4, 5, 6, 7)

In [244]:
t1

(3, 4, 5, 6, 7)

In [245]:
t1[2:]

(5, 6, 7)

In [246]:
t1

(3, 4, 5, 6, 7)

In [247]:
t1[:10]

(3, 4, 5, 6, 7)

In [248]:
t1[10]

IndexError: tuple index out of range

In [249]:
t1

(3, 4, 5, 6, 7)

In [250]:
for i in t1:
    print(i)

3
4
5
6
7

In [251]:
for i in enumerate(t1):
    print(i)

(0, 3)
(1, 4)
(2, 5)
(3, 6)
(4, 7)

In [253]:
t2 = (10,10)
t2

(10, 10)

In [254]:
t5 = ('nit',45)
t5

('nit', 45)

In [255]:
t5[0]

'nit'

In [256]:
t5[0][0]

'n'

In [258]:
print(t5[0][0])
print(t5[0][1])
print(t5[0][2])

n
i
t

In [259]:
print(t5[0][0])
print(t5[0][1])
print(t5[0][2])
print(t5[0][3])

n
i
t

IndexError: string index out of range

In [260]:
print(t5[0][3])
print(t5[0][0])
print(t5[0][1])
print(t5[0][2])

IndexError: string index out of range

In [263]:
#tuple creation
tup1 = ()
tup1

()

In [265]:
tup2 = (10,30,60) #tuple of integers numbers
tup2

(10, 30, 60)

In [266]:
tup3 = (10.77,30.66,60.89) #tuple of float numbers
tup3

(10.77, 30.66, 60.89)

In [267]:
tup4 = ('one','two',"three") # tuple of strings
tup4

('one', 'two', 'three')

In [279]:
tup5 = ('Ani',25,(50,100),(150,90)) #nested tuples
tup5

('Ani', 25, (50, 100), (150, 90))

In [270]:
tup6 = (100,'Ani',17.765) #Tuple mixed data types
tup6

(100, 'Ani', 17.765)

In [272]:
tup7 = ('Ani',25,[50,100],[150,90],{'John','David'},(99,22,33))
tup7

('Ani', 25, [50, 100], [150, 90], {'David', 'John'}, (99, 22, 33))

In [273]:
len(tup7)

6

In [ ]:
#Tuple indexing

In [274]:
tup2[0] #Retrieve the first element of the tuple

10

In [275]:
tup4[0] #Retrieve the first element of the tuple

'one'

In [276]:
tup4[0][0] #Nested indexing - Access the first character of the first tuple element

'o'

In [277]:
tup4[-1] #last item of the tuple

'three'

In [280]:
tup5[-1] #last item of the tuple

(150, 90)

In [281]:
#Tuple slicing
mytuple = ('one','two','three','four','five','six','seven','eight')

In [282]:
mytuple[0:3]

('one', 'two', 'three')

In [283]:
mytuple[2:5]

('three', 'four', 'five')

In [284]:
mytuple[:3]

('one', 'two', 'three')

In [285]:
mytuple[:2] #return the first 2 items

('one', 'two')

In [286]:
mytuple[-3:] #return the last 3 items

('six', 'seven', 'eight')

In [287]:
mytuple[-2:]

('seven', 'eight')

In [288]:
mytuple[-1:]

('eight',)

In [289]:
mytuple[-1]

'eight'

In [290]:
mytuple[:] #return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [291]:
#Removing & changes items
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [292]:
del mytuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [293]:
mytuple[0]

'one'

In [294]:
mytuple[0] = 1

TypeError: 'tuple' object does not support item assignment

In [295]:
del mytuple #deleting entire tuple object is possible

In [296]:
mytuple

NameError: name 'mytuple' is not defined

In [298]:
#Loop through a tuple
mytuple1 = ('one','two','three','four','five','six','seven','eight')
mytuple1

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [299]:
for i in mytuple1:
    print(i)

one
two
three
four
five
six
seven
eight

In [300]:
for i in enumerate(mytuple1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [301]:
#Tuple Membership
mytuple1

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [302]:
'one' in mytuple1 #Check if 'one' exist in the list

True

In [304]:
'ten' in mytuple1

False

In [305]:
if 'three' in mytuple1:
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

Three is present in the tuple

In [307]:
if 'eleven' in mytuple1:
    print('eleven is present in the list')
else:
    print('eleven is not present in the list')

eleven is not present in the list

In [308]:
#index position
mytuple1

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [309]:
mytuple1.index('one')

0

In [310]:
mytuple1.index('five')

4

In [311]:
mytuple1

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [312]:
mytuple1.index('one')

0

In [313]:
#Sorting
mytuple2 = (43,67,99,12,6,90,67)

In [314]:
sorted(mytuple2) #Return a new sort list & doesn't change original tuple

[6, 12, 43, 67, 67, 90, 99]

In [315]:
sorted(mytuple2,reverse = True) #sort in the descending order

[99, 90, 67, 67, 43, 12, 6]

# Set
- it denotes as ()
- it gives in a ordered form
- set is ordered element for same data type but in mix data type it is in inorder
- Duplicates are not allowed
- slicing & indexing is not allowed
- immutable
- but in add() it is mutable

set functions

1. add() -> set exactly take only one argument
2. pop() -> it remove element in random
   pop(1) -> it get type error because it dont take the argumnets and indexing is not allowed
3. remove -> remove the element of the value is member of the variable
          -> it will give error if the value is not a member of set
          -> it takes single argument
4. discard -> never give an error
           -> if element is not a member of a set it will never give yo a bug or error msg
           -> if element is member of a set then it will remove from the set 
           
Set membership
- Set membership refers to checking whether an element exists in a set using (in)

setoperation
- union
- intersection
- difference
- symmertric_difference
- disjoint
- subset
- superset

In [29]:
s = {}
s

{}

In [31]:
type(s)

dict

In [33]:
s1 = set() #Empty set
s1

set()

In [34]:
type(s1)

set

In [71]:
s2 = {200,3,1,20,10,10} #dupliates are not allowed
s2

{1, 3, 10, 20, 200}

In [83]:
type(s2)

set

In [36]:
s3 = {'m','r','z'}
s3

{'m', 'r', 'z'}

In [37]:
s4 = {1,'m',3.3,1+2j} #we cant say it is in order
s4

{(1+2j), 1, 3.3, 'm'}

1. add

In [38]:
s4.add(1000)
s4

{(1+2j), 1, 1000, 3.3, 'm'}

In [39]:
s4.add(1000,2000)

TypeError: add() takes exactly one argument (2 given)

In [40]:
s5 = s3.copy()
s5

{'m', 'r', 'z'}

In [41]:
s4

{(1+2j), 1, 1000, 3.3, 'm'}

In [42]:
len(s4)

5

In [43]:
s4[0]

TypeError: 'set' object is not subscriptable

In [44]:
s4[:]

TypeError: 'set' object is not subscriptable

In [45]:
s3

{'m', 'r', 'z'}

In [46]:
s3[0] = 'n' #immutable

TypeError: 'set' object does not support item assignment

In [50]:
s3.add('o')
s3

{'m', 'o', 'r', 'z'}

In [51]:
s3

{'m', 'o', 'r', 'z'}

2. pop

In [52]:
s3.pop() #it remove random

'z'

In [53]:
s3.pop()

'm'

In [54]:
s3

{'o', 'r'}

In [72]:
s2

{1, 3, 10, 20, 200}

In [73]:
s2.pop()

1

In [74]:
s2

{3, 10, 20, 200}

In [75]:
s2.pop(1)

TypeError: pop() takes no arguments (1 given)

3. remove

In [76]:
s2.remove()

TypeError: remove() takes exactly one argument (0 given)

In [77]:
s2.remove(200)
s2

{3, 10, 20}

In [82]:
s2.remove(3,10)

TypeError: remove() takes exactly one argument (2 given)

4. discard

In [78]:
s2.discard(5000) #it will not give error

In [79]:
s2

{3, 10, 20}

In [80]:
s2.discard(10)

In [81]:
s2

{3, 20}

In [86]:
s5 = {2,3,'nit',True,45.8}
s5

{2, 3, 45.8, True, 'nit'}

In [87]:
type(s5)

set

# Set membership
- Set membership refers to checking whether an element exists in a set using (in)

In [88]:
2 in s5

True

In [89]:
200 in s5

False

In [91]:
#Loop though a set
for i in s5:
    print(i)

True
2
3
nit
45.8

In [92]:
for i in enumerate(s5):
    print(i)

(0, True)
(1, 2)
(2, 3)
(3, 'nit')
(4, 45.8)

In [93]:
s5

{2, 3, 45.8, True, 'nit'}

In [94]:
s5.update([100,200,300])
s5

{100, 2, 200, 3, 300, 45.8, True, 'nit'}

In [95]:
s6 = s5.copy()
s6

{100, 2, 200, 3, 300, 45.8, True, 'nit'}

# set operation

In [96]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

1. union

In [97]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [98]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [99]:
A.union(B,C,56)

TypeError: 'int' object is not iterable

In [100]:
print(A)
print(B)
print(C)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [101]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [102]:
A | B | C | D

NameError: name 'D' is not defined

In [103]:
A | B | C

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

2. Intersection

In [105]:
A.intersection(B)

{4, 5}

In [106]:
A.intersection(C) #Empty set because there no common number between A & C

set()

In [107]:
B.intersection(C)

{8}

In [108]:
A.intersection(B,C)

set()

3. Difference

In [109]:
print(A)
print(B)
print(C)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [110]:
A - B

{1, 2, 3}

In [111]:
A.difference(B)

{1, 2, 3}

In [112]:
A.difference(B,C)

{1, 2, 3}

In [113]:
A - C

{1, 2, 3, 4, 5}

In [114]:
C - A

{8, 9, 10}

In [116]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [117]:
B.symmetric_difference(C)

{4, 5, 6, 7, 9, 10}

In [118]:
A.symmetric_difference(C)

{1, 2, 3, 4, 5, 8, 9, 10}

In [119]:
A.symmetric_difference(B,C)

TypeError: symmetric_difference() takes exactly one argument (2 given)

In [120]:
B ^ C

{4, 5, 6, 7, 9, 10}

4. subset

In [121]:
A1 = {1,2,3,4,5,6,7,8,9}
B1 = {3,4,5,6,7,8}
C1 = {10,20,30,40}

In [124]:
B1.issubset(A1)

True

In [125]:
A1.issubset(B1)

False

5. superset

In [126]:
A1.issuperset(B1)

True

In [127]:
C1.issuperset(A1)

False

In [128]:
B1.issuperset(A1)

False

6. disjoint

In [132]:
A1 = {1,2,3,4,5,6,7,8,9}
B1 = {3,4,5,6,7,8}
C1 = {10,20,30,40}

In [133]:
C1.isdisjoint(A1)

True

In [134]:
B1.isdisjoint(A1)

False

In [135]:
A1.isdisjoint(B1)

False

In [137]:
for i in enumerate(A):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)

In [138]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

# Dictionary
- it denotes {}
- it is mutable we can change keys & values
- The dictionary has all the expected key-value pairs, but the order is not guaranteed because sets are unordered.
- If you want to preserve the order, use a list or tuple instead of a set
- access iens using key -> mydict[1]
- access items using get() method
- membership takes only keys not values

In [139]:
#create Dictionary
mydict = dict() #empty dictionary
mydict

{}

In [140]:
mydict = {} #empty dictionary
mydict

{}

In [141]:
mydict = {1 : 'one', 2 : 'two', 3 : 'three'}
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [142]:
mydict = dict({1 : 'one', 2 : 'two', 3 : 'three'})
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [143]:
mydict = {'A' : 'one', 'B' : 'two', 'C' : 'three'}
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [144]:
mydict = {1 : 'one', 'A' : 'two', 3 : 'three'} #dictionary with mixed keys
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [145]:
mydict.keys()

dict_keys([1, 'A', 3])

In [146]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [147]:
mydict.items() #Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [148]:
mydict = {1 : 'one', 2 : 'two', 'A' : ['asif','john','maria']}
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'maria']}

In [149]:
mydict = {1:'one',2:'two','A':['asif','john','Maria'],'B':['Bat','cat','hat']}
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ['Bat', 'cat', 'hat']}

In [152]:
mydict = {1:'one',2:'two','A':{'Name':'asif','Age':20},'B':('Bat','cat','hat')}
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'asif', 'Age': 20},
 'B': ('Bat', 'cat', 'hat')}

In [154]:
keys = {'a','b','c','d'}
mydict3 = dict.fromkeys(keys) #Create a new dictionary with keys from iterable and values set to value.
mydict3

{'b': None, 'd': None, 'c': None, 'a': None}

In [157]:
keys = {'a','b','c','d'}
values = 10
mydict3 = dict.fromkeys(keys,values) #The dictionary has all the expected key-value pairs, but the order is not guaranteed because sets are unordered.
mydict3

{'b': 10, 'd': 10, 'c': 10, 'a': 10}

In [162]:
#If you want to preserve the order, use a list or tuple instead of a set:
keys = ['a','b','c','d']
values = 10
mydict4 = dict.fromkeys(keys,values)
mydict4

{'a': 10, 'b': 10, 'c': 10, 'd': 10}

In [163]:
type(mydict4)

dict

In [164]:
keys = ('a','b','c','d')
values = 10
mydict5 = dict.fromkeys(keys,values)
mydict5

{'a': 10, 'b': 10, 'c': 10, 'd': 10}

In [165]:
type(mydict5)

dict

In [167]:
keys = ['a','b','c','d']
value = [10,20,30]
mydict3 = dict.fromkeys(keys,value)
mydict3

{'a': [10, 20, 30], 'b': [10, 20, 30], 'c': [10, 20, 30], 'd': [10, 20, 30]}

In [168]:
keys = ('a','b','c','d')
value = [10,20,30]
mydict3 = dict.fromkeys(keys,value)
mydict3

{'a': [10, 20, 30], 'b': [10, 20, 30], 'c': [10, 20, 30], 'd': [10, 20, 30]}

In [169]:
keys = {'a','b','c','d'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys,value)
mydict3

{'b': [10, 20, 30], 'd': [10, 20, 30], 'c': [10, 20, 30], 'a': [10, 20, 30]}

In [170]:
value.append(40)
mydict3

{'b': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'a': [10, 20, 30, 40]}

In [171]:
#Accessing items
mydict3 = {1 : 'one', 2:'two',3:'three',4:'four'}
mydict3

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [172]:
mydict[1] #Access items using keys

'one'

In [173]:
mydict.get(1) #access items using get() method

'one'

In [174]:
mydict1 = {'Name':'john','Id':74123,'DOB':1991,'Job':'Analyst'}
mydict1

{'Name': 'john', 'Id': 74123, 'DOB': 1991, 'Job': 'Analyst'}

In [175]:
mydict1['Name']

'john'

In [176]:
mydict1.get('Job')

'Analyst'

- Add, Remove & change items

In [177]:
mydict1 = {'Name':'john','Id':74123,'DOB':1991,'Job':'Analyst'}
mydict1

{'Name': 'john', 'Id': 74123, 'DOB': 1991, 'Job': 'Analyst'}

In [178]:
mydict1['DOB'] = 1992
mydict1['Job'] = 'Software Engineer'
mydict1

{'Name': 'john', 'Id': 74123, 'DOB': 1992, 'Job': 'Software Engineer'}

In [181]:
dict1 = {'DOB' : 1995}
mydict1.update(dict1)
mydict1

{'Name': 'john', 'Id': 74123, 'DOB': 1995, 'Job': 'Software Engineer'}

In [182]:
#Adding items in the dictionary
mydict1['Job'] = 'Analyst'
mydict1

{'Name': 'john', 'Id': 74123, 'DOB': 1995, 'Job': 'Analyst'}

In [183]:
mydict1.pop()

TypeError: pop expected at least 1 argument, got 0

In [184]:
mydict1.pop(-1)

KeyError: -1

In [185]:
mydict1.pop(0)

KeyError: 0

In [186]:
mydict1.pop('Job') #Removing the items in the dictionary using pop  method

'Analyst'

In [187]:
mydict1

{'Name': 'john', 'Id': 74123, 'DOB': 1995}

In [188]:
mydict1.pop(1995)

KeyError: 1995

In [190]:
mydict1.popitem() #Pairs are returned in LIFO (last-in, first-out) order

('DOB', 1995)

In [191]:
mydict1

{'Name': 'john', 'Id': 74123}

In [192]:
#Deleting all the items of the dictionary
mydict1.clear()
mydict1

{}

In [194]:
#Delete the dictionary object
del mydict1
mydict1

NameError: name 'mydict1' is not defined

- copy dictionary

In [240]:
mydict = {'Name':'john','Id':74123,'DOB':1991,'Job':'Analyst'}
mydict

{'Name': 'john', 'Id': 74123, 'DOB': 1991, 'Job': 'Analyst'}

In [241]:
mydict = mydict

In [242]:
mydict2 = mydict.copy()

In [243]:
id(mydict),id(mydict2)

(2304799151616, 2304798951360)

In [244]:
mydict['Job'] = 'Engineer'

In [245]:
mydict2

{'Name': 'john', 'Id': 74123, 'DOB': 1991, 'Job': 'Analyst'}

In [246]:
mydict

{'Name': 'john', 'Id': 74123, 'DOB': 1991, 'Job': 'Engineer'}

- Loop through a Dictionary

In [247]:
mydict1 = {'Name': 'john', 'Id': 74123, 'DOB': 1991, 'Job': 'Analyst'}
mydict1

{'Name': 'john', 'Id': 74123, 'DOB': 1991, 'Job': 'Analyst'}

In [248]:
for i in mydict1:
    print(i, ':', mydict1[i]) #key and value pair

Name : john
Id : 74123
DOB : 1991
Job : Analyst

In [250]:
for i in mydict1:
    print(mydict1[i]) #Dictionary items

john
74123
1991
Analyst

- Dictionary Membership

In [251]:
mydict1 = {'Name': 'john', 'Id': 74123, 'DOB': 1991, 'Job': 'Analyst'}
mydict1

{'Name': 'john', 'Id': 74123, 'DOB': 1991, 'Job': 'Analyst'}

In [252]:
'Name' in mydict1

True

In [255]:
'john' in mydict1 #membership takes only keys not values

False

In [257]:
'Id' in mydict1

True

In [258]:
'Address' in mydict1

False

All / Any
- The all() method returns
  - True -> if all keys of dictionary are true
  - False -> if any key of the dictionary is false
  
- The any() function returns true if any key of the dictionary is True. if not any() returns false.

In [259]:
mydict1

{'Name': 'john', 'Id': 74123, 'DOB': 1991, 'Job': 'Analyst'}

In [260]:
all(mydict1)

True

In [271]:
mydict2 = {0: "x", 1: "y", 2: "z"} #(key `0` is false)
mydict2

{0: 'x', 1: 'y', 2: 'z'}

In [274]:
all(mydict2)

False

In [275]:
mydict2

{0: 'x', 1: 'y', 2: 'z'}

In [276]:
#any() function returns true if any key of the dictionary is True
any(mydict2) # (key `1` is true but key `0` is false )

True